@import "../../../animations.css";

.landing-description {
  max-width: 100%;
  margin: 0 0 1em 0;
  animation: easeInWithOpacityChange 1.3s;
  animation-fill-mode: backwards;
}

.main-navigation {
  margin-bottom: 2em;
  animation: easeInWithOpacityChange 1.3s;
  animation-fill-mode: backwards;
  animation-delay: 0.2s;
}

.main-navigation-list {
  margin: 0;
  padding: 0;
}

.main-navigation-list-item {
  list-style: none;
  display: inline-block;
  padding: 1em 1.5em 1em 0;
}

.main-navigation-list-item-link {
  color: var(--default-link-color);
  text-decoration: none;
  padding-bottom: 0.2em;
  border-bottom: 2px dotted var(--default-link-border);
}

.main-navigation-list-item-link:hover {
  cursor: pointer;
  color: var(--active-link-color);
  border-bottom-color: var(--active-link-color);
}

@media screen and (min-width: 720px) {
  .landing-description {
    max-width: 55%;
    font-size: 1.2em;
    line-height: 1.7;
    margin: 0 0 1em 0;
  }

  .main-navigation-list {
    margin: 0 0 2em 0;
  }

  .main-navigation-list-item a {
    font-size: 1.2em;
  }
}
