.back-to-top-container {
  position: sticky;
  top: 0;
  text-align: right;
  z-index: 1;
  opacity: 0.85;
}

.back-to-top-container p {
  display: inline-block;
  background: var(--main-bg);
  padding: 0.4em;
}

.back-to-top-container p:hover {
  cursor: pointer;
}

@media screen and (min-width: 720px) {
  .back-to-top-container p {
    padding: 1.4em;
  }
}
