.back-to-top-container {
  display: block;
  position: sticky;
  top: 0;
  background: var(--main-bg);
  text-align: right;
  z-index: 1;
  padding: 0.06em;
  opacity: 0.7;
}

.back-to-top-container p:hover {
  cursor: pointer;
}
