.portfolio-wrapper {
  display: grid;
  grid-template-columns: 100%;
  row-gap: 1.5em;
  justify-content: space-evenly;
  max-width: 97%;
  margin: 0.5em 0 0 0;
}

.projects-title {
  margin: 0 0 -0.5em 0;
  padding: 0;
}

@media screen and (min-width: 1100px) {
  .portfolio-wrapper {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    row-gap: 4em;
    column-gap: 4em;
  }
}
