.project-details-top-utilities {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-top: 2em;
}

.project-details-go-back {
  cursor: pointer;
  background: none;
  margin-top: 0.3em;
  color: var(--default-link-color);
  padding: 0;
  font: inherit;
  outline: inherit;
  text-decoration: none;
}

.project-details-go-back:hover {
  color: var(--active-link-color);
  border-bottom-color: var(--active-link-color);
}

.project-details-top-bar {
  font-size: 1.4em;
  margin-top: 3em;
  margin-bottom: 2em;
  padding: 1em;
  text-align: center;
}

.project-details-top-bar--red {
  background: var(--portfolio-item-red);
}

.project-details-top-bar--blue {
  background: var(--portfolio-item-blue);
}

.project-details-top-bar--green {
  background: var(--portfolio-item-green);
}

.portfolio-details-icon {
  margin-top: 0.2em;
  font-size: 7em;
}
