.about-me-container {
  margin: 0 0 3em 0;
}

.resume-link {
  text-decoration: none;
  background: var(--primary-color);
  color: var(--main-bg);
  padding: 1em 3em;
  display: inline-block;
  margin-top: 1em;
  opacity: 0.4;
}

.resume-link:hover {
  color: var(--active-link-color);
  opacity: 1;
}

@media screen and (min-width: 720px) {
  .about-me-container {
    margin: 0 0 12em 0;
  }
}
