.about-me-container {
  margin: 0 0 5em 0;
}

.resume-link {
  text-decoration: none;
  background: var(--primary-color);
  color: var(--main-bg);
  padding: 1em 3em;
  display: inline-block;
  margin-top: 1em;
  opacity: 0.4;
}

.resume-link:hover {
  color: var(--primary-color);
  background: var(--active-link-color);
  opacity: 1;
}
