.contact-container {
  margin: 0 0 -1.5em 0;
  padding: 0;
}

.contact-list {
  margin: 0;
  padding: 0;
}

.contact-list-item {
  list-style: none;
  padding: 0.25em 0;
}

.contact-list-item a {
  color: var(--default-link-color);
  text-decoration: none;
  border-bottom: 2px dotted var(--default-link-border);
}

.contact-list-item a:hover {
  color: var(--active-link-color);
  border-bottom-color: var(--active-link-color);
}

@media screen and (min-width: 720px) {
  .contact-container {
    margin: 0 0 7em 0;
  }
}
