.footer-container {
  padding: 0;
  margin: 2em auto;
  display: grid;
  grid-template-columns: 100%;
  justify-items: center;
  color: var(--default-link-color);
}

@media screen and (min-width: 720px) {
  .footer-container {
    margin: 4em 0;
  }
}
