@import url("https://fonts.googleapis.com/css?family=Anaheim");

:root {
  --desktop-breakpoint: 720px;

  --primary-gray: #232323;
  --accent-gray: #848484;
  --lighter-gray: #cecece;
  --off-white: #fefefe;

  /* --off-white: #232323;
  --accent-gray: #848484;
  --lighter-gray: #cecece;
  --primary-gray: #fefefe; */
}

:root[data-theme="dark"] {
  --off-white: #232323;
  --accent-gray: #848484;
  --lighter-gray: #cecece;
  --primary-gray: #fefefe;
}

html {
  box-sizing: border-box;
  background: var(--off-white);
  font-family: "Anaheim", serif;
  color: var(--primary-gray);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

::selection {
  background: #f4f442;
  color: #000;
}
::-moz-selection {
  background: #f4f442;
  color: #000;
}

body {
  padding: 1em 1.4em;
  line-height: 1.4;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 400;
}

p {
  font-family: "Anaheim", serif;
}

@media screen and (min-width: 720px) {
  body {
    margin: 0 auto;
    max-width: 75%;
  }
}
