@import url("https://fonts.googleapis.com/css?family=Anaheim");

:root {
  --main-bg: #fefefe;
  --primary-color: #232323;
  --default-link-color: #929292;
  --active-link-color: #df4a4a;
  --default-link-border: #848484;
}

:root[data-theme="dark"] {
  --main-bg: #232323;
  --primary-color: #fefefe;
  --default-link-color: #adadad;
  --active-link-color: #df4a4a;
  --default-link-border: #848484;
}

html {
  box-sizing: border-box;
  background: var(--main-bg);
  font-family: "Anaheim", serif;
  color: var(--primary-color);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

::selection {
  background: #fcc0c0;
  color: #000;
}
::-moz-selection {
  background: #fcc0c0;
  color: #000;
}

body {
  padding: 1em 1.4em;
  line-height: 1.4;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 400;
}

p {
  font-family: "Anaheim", serif;
}

@media screen and (min-width: 720px) {
  body {
    margin: 0 auto;
    max-width: 75%;
  }
}
